* {
    color: black !important;
}

body {
    background-color: white;
    margin: 1%;
}

input[type="number"] {
    text-align: right;
}

table {
    border: 1px solid #000;
    border-collapse: collapse;
    border-spacing: 1px;
    padding: 5px;
    color: #000;
}

th,
td {
    border: 1px solid black;
    padding: 5px;
    width: 11.11%;
}

th {
    text-align: center;
}


.box {
    border: 1px black solid;
    border-radius: 20px;
}

.tab-content {
    display: none;
    /* Escondemos todas las secciones por defecto */
}

.tab-content.active {
    display: block;
    /* Solo mostramos la sección activa */
}

.tab-links.active {
    background-color: #4CAF50;
    color: black;
}

.section-title {
    font-weight: bold;
    color: black;
    margin-top: 20px;
}

.highlight {
    font-weight: bold;
    color: wblackhite;
}

.highlightBlack {
    font-weight: bold;
    color: black !important;
}

.center {
    text-align: center;
}

.total {
    font-weight: bold;
    background-color: #f2f2f2;
}

.input-moneda {
    padding-left: 20px;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><text x="0" y="15" font-size="16" fill="black">$</text></svg>');
    background-repeat: no-repeat;
    background-position: 5px center;
}

.w-40 { width: 40% !important; }
.w-60 { width: 60% !important; }

#calcular {
    margin-top: auto;
}